body {
  background-image: url('free-vector-watercolor-background.jpg');
}

.profile-picture {
  display: block;
  margin-left: auto;
  margin-right: auto;

  margin-top: 10%;
  height: auto;
  max-width: 100px;

  border-radius: 50%;
}
